In [23]:
import pandas as pd

In [24]:
# Replace the path with the correct path to your CSV file
file_path = '/home/costanza/Robot-Control-by-EEG-with-ML/results/experiment_results.csv'

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)

In [25]:
# Change the columns names
data.columns = ['Subject', 'N° Exp', 'Model', 'Th', 'Execution Time', 'Left Movements', 'TN', 'FP', 'Right Movements', 'TP', 'FN']

In [26]:
# I want to remove the second column
data = data.drop('N° Exp', axis=1)

In [27]:
data

,Subject,Model,Th,Execution Time,Left Movements,TN,FP,Right Movements,TP,FN
0,g,LR,NaN,170.506582,42,38,4,83,76,7
1,g,LR,NaN,179.990173,44,38,6,82,74,8
2,g,LR,NaN,206.324204,42,40,2,87,78,9
3,g,LR,NaN,190.722173,52,40,12,73,69,4
4,g,LR,NaN,183.106762,50,40,10,72,71,1
5,g,LR,NaN,174.985542,46,40,6,85,75,10
6,g,LR,NaN,201.999437,46,40,6,80,75,5
7,g,LR,NaN,160.282382,44,40,4,82,77,5
8,g,LR,NaN,172.647880,43,40,3,92,78,14
9,g,LR,NaN,147.502973,44,40,4,82,77,5
10,c,LR,NaN,186.759983,41,40,1,102,80,22
11,c,LR,NaN,239.320291,41,40,1,95,79,16
12,c,LR,NaN,204.743149,42,40,2,101,80,21
13,c,LR,NaN,185.563823,43,40,3,100,78,22
14,c,LR,NaN,187.000921,42,40,2,108,79,29
15,c,LR,NaN,209.834765,40,40,0,107,81,26
16,c,LR,NaN,180.750570,41,40,1,102,80,22
17,c,LR,NaN,204.348346,44,40,4,95,76,19
18,c,LR,NaN,210.405293,41,40,1,109,80,29
19,c,LR,NaN,181.713775,40,40,0,96,81,15

In [9]:
# Create new dataframes based on the subject

dataframe_g = data[data['Subject'] == 'g']
dataframe_c = data[data['Subject'] == 'c']

In [20]:
# Create a list with the mean values
g = {}
c = {}

g['Execution Time'] = dataframe_g['Execution Time'].mean()
g['Left Movements'] = dataframe_g['Left Movements'].mean()
g['TN'] = dataframe_g['TN'].mean()
g['FP'] = dataframe_g['FP'].mean()
g['Right Movements'] = dataframe_g['Right Movements'].mean()
g['TP'] = dataframe_g['TP'].mean()
g['FN'] = dataframe_g['FN'].mean()
g['Accuracy'] = (g['TP'] + g['TN']) / (g['TP'] + g['TN'] + g['FP'] + g['FN'])
g['Error Rate'] = 1 - g['Accuracy']

c['Execution Time'] = dataframe_c['Execution Time'].mean()
c['Left Movements'] = dataframe_c['Left Movements'].mean()
c['TN'] = dataframe_c['TN'].mean()
c['FP'] = dataframe_c['FP'].mean()
c['Right Movements'] = dataframe_c['Right Movements'].mean()
c['TP'] = dataframe_c['TP'].mean()
c['FN'] = dataframe_c['FN'].mean()
c['Accuracy'] = (c['TP'] + c['TN']) / (c['TP'] + c['TN'] + c['FP'] + c['FN'])
c['Error Rate'] = 1 - c['Accuracy']

In [21]:
# Replace the path with the correct path to your CSV file
file_path = '/home/costanza/Robot-Control-by-EEG-with-ML/results/experiment_results_threshold.csv'

# Read the CSV file into a DataFrame
data_th = pd.read_csv(file_path)
data_th

,Experiment Number,Model,Threshold,Execution Time,Left Count,TN,FP,Left No Actions,Right Count,TP,FN,Right No Actions
0,1,LR,0.2,357.186124,52,40,0,12,110,81,14,15
1,2,LR,0.2,204.000936,60,40,0,20,95,81,8,6
2,3,LR,0.2,223.686383,54,40,0,14,117,81,17,19
3,4,LR,0.2,211.952963,48,40,0,8,114,81,13,20
4,5,LR,0.2,203.743294,61,40,0,21,102,82,9,11
5,6,LR,0.2,191.771209,54,40,0,14,96,81,5,10
6,7,LR,0.2,209.254302,54,40,0,14,107,81,11,15
7,8,LR,0.2,237.850375,52,40,0,12,107,81,12,14
8,9,LR,0.2,315.670548,67,40,0,27,116,82,17,17
9,10,LR,0.2,220.919203,57,40,0,17,102,82,10,10
10,10,LR,0.1,229.439302,102,41,8,53,85,73,0,12
11,2,LR,0.1,303.112019,98,40,10,48,83,71,0,12
12,3,LR,0.1,209.622401,103,40,14,49,86,67,0,19
13,4,LR,0.1,215.351005,108,38,9,61,90,72,0,18
14,5,LR,0.1,248.239103,120,40,15,65,86,66,0,20
15,6,LR,0.1,244.427184,138,40,14,84,79,67,0,12
16,7,LR,0.1,248.542289,107,39,10,58,86,71,0,15
17,8,LR,0.1,209.465235,98,40,14,44,77,67,0,10
18,9,LR,0.1,184.969516,89,40,12,37,81,69,0,12
19,10,LR,0.1,211.928541,110,40,13,57,84,68,0,16
20,11,LR,0.2,177.601284,56,40,0,16,102,81,12,9

In [31]:
# Change the columns names
data_th.columns = ['N° Exp', 'Model', 'Th', 'Execution Time', 'Left Movements', 'TN', 'FP', 'Missed Actions', 'Right Movements', 'TP', 'FN', 'Missed Actions']

In [32]:
data_th

,N° Exp,Model,Th,Execution Time,Left Movements,TN,FP,Missed Actions,Right Movements,TP,FN,Missed Actions
0,1,LR,0.2,357.186124,52,40,0,12,110,81,14,15
1,2,LR,0.2,204.000936,60,40,0,20,95,81,8,6
2,3,LR,0.2,223.686383,54,40,0,14,117,81,17,19
3,4,LR,0.2,211.952963,48,40,0,8,114,81,13,20
4,5,LR,0.2,203.743294,61,40,0,21,102,82,9,11
5,6,LR,0.2,191.771209,54,40,0,14,96,81,5,10
6,7,LR,0.2,209.254302,54,40,0,14,107,81,11,15
7,8,LR,0.2,237.850375,52,40,0,12,107,81,12,14
8,9,LR,0.2,315.670548,67,40,0,27,116,82,17,17
9,10,LR,0.2,220.919203,57,40,0,17,102,82,10,10
10,10,LR,0.1,229.439302,102,41,8,53,85,73,0,12
11,2,LR,0.1,303.112019,98,40,10,48,83,71,0,12
12,3,LR,0.1,209.622401,103,40,14,49,86,67,0,19
13,4,LR,0.1,215.351005,108,38,9,61,90,72,0,18
14,5,LR,0.1,248.239103,120,40,15,65,86,66,0,20
15,6,LR,0.1,244.427184,138,40,14,84,79,67,0,12
16,7,LR,0.1,248.542289,107,39,10,58,86,71,0,15
17,8,LR,0.1,209.465235,98,40,14,44,77,67,0,10
18,9,LR,0.1,184.969516,89,40,12,37,81,69,0,12
19,10,LR,0.1,211.928541,110,40,13,57,84,68,0,16
20,11,LR,0.2,177.601284,56,40,0,16,102,81,12,9

In [34]:
# Eliminate the last row
data_th = data_th.iloc[:-1]
# I want to remove the second column
data_th = data_th.drop('N° Exp', axis=1)


data_th

,Model,Th,Execution Time,Left Movements,TN,FP,Missed Actions,Right Movements,TP,FN,Missed Actions
0,LR,0.2,357.186124,52,40,0,12,110,81,14,15
1,LR,0.2,204.000936,60,40,0,20,95,81,8,6
2,LR,0.2,223.686383,54,40,0,14,117,81,17,19
3,LR,0.2,211.952963,48,40,0,8,114,81,13,20
4,LR,0.2,203.743294,61,40,0,21,102,82,9,11
5,LR,0.2,191.771209,54,40,0,14,96,81,5,10
6,LR,0.2,209.254302,54,40,0,14,107,81,11,15
7,LR,0.2,237.850375,52,40,0,12,107,81,12,14
8,LR,0.2,315.670548,67,40,0,27,116,82,17,17
9,LR,0.2,220.919203,57,40,0,17,102,82,10,10
10,LR,0.1,229.439302,102,41,8,53,85,73,0,12
11,LR,0.1,303.112019,98,40,10,48,83,71,0,12
12,LR,0.1,209.622401,103,40,14,49,86,67,0,19
13,LR,0.1,215.351005,108,38,9,61,90,72,0,18
14,LR,0.1,248.239103,120,40,15,65,86,66,0,20
15,LR,0.1,244.427184,138,40,14,84,79,67,0,12
16,LR,0.1,248.542289,107,39,10,58,86,71,0,15
17,LR,0.1,209.465235,98,40,14,44,77,67,0,10
18,LR,0.1,184.969516,89,40,12,37,81,69,0,12

In [40]:
# Add a new column with the Subject values

data_th['Subject'] = ['g'] * 10 + ['c'] * 9

In [41]:
data_th

,Model,Th,Execution Time,Left Movements,TN,FP,Missed Actions,Right Movements,TP,FN,Missed Actions,Subject
0,LR,0.2,357.186124,52,40,0,12,110,81,14,15,g
1,LR,0.2,204.000936,60,40,0,20,95,81,8,6,g
2,LR,0.2,223.686383,54,40,0,14,117,81,17,19,g
3,LR,0.2,211.952963,48,40,0,8,114,81,13,20,g
4,LR,0.2,203.743294,61,40,0,21,102,82,9,11,g
5,LR,0.2,191.771209,54,40,0,14,96,81,5,10,g
6,LR,0.2,209.254302,54,40,0,14,107,81,11,15,g
7,LR,0.2,237.850375,52,40,0,12,107,81,12,14,g
8,LR,0.2,315.670548,67,40,0,27,116,82,17,17,g
9,LR,0.2,220.919203,57,40,0,17,102,82,10,10,g
10,LR,0.1,229.439302,102,41,8,53,85,73,0,12,c
11,LR,0.1,303.112019,98,40,10,48,83,71,0,12,c
12,LR,0.1,209.622401,103,40,14,49,86,67,0,19,c
13,LR,0.1,215.351005,108,38,9,61,90,72,0,18,c
14,LR,0.1,248.239103,120,40,15,65,86,66,0,20,c
15,LR,0.1,244.427184,138,40,14,84,79,67,0,12,c
16,LR,0.1,248.542289,107,39,10,58,86,71,0,15,c
17,LR,0.1,209.465235,98,40,14,44,77,67,0,10,c
18,LR,0.1,184.969516,89,40,12,37,81,69,0,12,c

In [42]:
df_g_th = data_th[data_th['Subject'] == 'g']
df_c_th = data_th[data_th['Subject'] == 'c']

In [ ]:
df